<!DOCTYPE html>
<html>
<head>
	<title>HTR</title>
	<style>
		input {color: white;
			font-size: 120%;
		    margin-left: 10%}
	</style>
</head>
<body background="/static/images/back.jpg";>
	<center><u  style="color:white;"><h1  style="color:white;">Handwritten Text Recognition</h1></u></center><br>
	<center><h2  style="color:white;" >Choose an image to apply HTR</h2></center>
    <form action="/uploads" enctype="multipart/form-data" method="POST" style="vertical-align: left">
							<div class="form-group" align="center">
							    <label for="exampleFormControlFile1"></label><br><br>
							    <input type="file" class="form-control-file" name="file" id="exampleFormControlFile1"><br><br>
							</div>
							<center><button type="submit" class="btn btn-primary">Submit</button><br><br><center>
	</form>
	<br><br><br><br><br><br>
    <footer style="width: 100%; height: 200px;color:grey;margin-bottom:25%;">
    	<center><h3>Dr. Meena Sharma Ma'am</h3></center>
    	<center><h3>Developed by: Shivam Dongre</h3></center>
    	<center><h3>Shivani Silawat</h3></center>
    	<center><h3>Simmi Jain</h3></center>
    </footer>
     
</body>
</html>