<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,height=400px initial-scale=1.0">
	<title>HTR</title>
<style>
div {
  width: 320px;
  padding: 20px;
  border: 5px solid gray;
  margin: 0;
  background-color: white;
  font-size: 40px;
}
</style>
	
</head>
<body background="/static/images/back.jpg" >
	<center><u  style="color:white;"><h1  style="color:white;">Handwritten Text Recognition</h1></u></center><br>
	<center><h2  style="color:white;" >Text recognized as:</h2></center>
	<center><div>{{text}}<br><p>{{accu}}<br>{{prob}}</p></div></center>
    
    <footer style="width: 100%; height: 200px;color:grey;margin-bottom:25%;">
    	<center><h3>Dr. Meena Sharma Ma'am</h3></center>
    	<center><h3>Developed by: Shivam Dongre</h3></center>
    	<center><h3>Shivani Silawat</h3></center>
    	<center><h3>Simmi Jain</h3></center>
    </footer>
     
</body>
</html>