<!DOCTYPE html>
<html>
<head>
	<title>HTR</title>
	<style >
		body{
			background-repeat:repeat;
		}

	</style>

</head>
<header style=" width:100%;height:100px;color:white; " > <center><h1  style="color:white;">Handwritten Text Recognition</h1></center></header>
<body background="/static/images/bg3.jpg">
 <center><img src="/static/images/home.jpg" alt="Text Recognition" width="575" height="379" align="middle";></center><br>
<center><a href="/uploads"><button style="font-size: 30px;">Start now</button></a></body></center>
</html>